@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.title {
    text-align: center;
}

h3 {
    text-align: center;
    color: rgb(255, 0, 255);
}